body{
    background-image: url(https://bit.ly/3bCQM6G);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: x-large;
    
    
}
#form{
    width: 100px;
    color:black ; 
    margin-left:200px;
    
}
.jumbotron{
    font-size: x-large;
    background-color: grey;
    color:black;
}
h1{
    text-align: center;   
}
 label{
 text-align: right;  
}
